<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.devlog.project.main.controller.websocket.mapper.OnlineMapper">

  <select id="selectFollow" resultType="com.devlog.project.member.model.dto.FollowDTO">
	SELECT
	M.MEMBER_NO, 
	        M.MEMBER_NICKNAME, 
	        NVL(M.PROFILE_IMG, '/images/user.png') AS profile,
	        M.MEMBER_EMAIL
	    FROM FOLLOW F
	    JOIN "MEMBER" M ON F.FOLLOWED_ID = M.MEMBER_NO
	    WHERE F.FOLLOW_ID = #{memberNo}
  </select>




	<select id="selectFollowers" resultType="com.devlog.project.member.model.dto.FollowDTO">
	    SELECT
	        M.MEMBER_NO, 
	        M.MEMBER_NICKNAME, 
	        NVL(M.PROFILE_IMG, '/images/user.png') AS profile,
	        M.MEMBER_EMAIL
	    FROM FOLLOW F
	    JOIN "MEMBER" M ON F.FOLLOW_ID = M.MEMBER_NO
	    WHERE F.FOLLOWED_ID = #{memberNo}
	</select>
	
	

</mapper>