<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.devlog.project.Scheduler.mapper.MailMapper">
	
	<select id="selectHotList" resultType="com.devlog.project.Scheduler.dto.Hot3DTO">
		
		    SELECT *
		    FROM (
		        SELECT 
		            b.BOARD_NO    AS boardNo,
		            b.BOARD_TITLE AS boardTitle,
		            NVL((i.IMG_PATH || i.IMG_RENAME), '/images/logo.png')   AS thumnail
		        FROM BOARD b
		        LEFT JOIN BOARD_IMG i
		               ON b.BOARD_NO = i.BOARD_NO
		              AND i.IMG_ORDER = 0
		        WHERE b.BOARD_CODE = 1
		          AND b.BOARD_DEL_FL = 'N'
		          AND b.BOARD_COUNT > 100
		        ORDER BY DBMS_RANDOM.VALUE
		    )
		    WHERE ROWNUM &lt;= 3
		
	</select>
	
</mapper>