<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Q&A 게시판</title>

    <link rel="stylesheet" href="../../../static/css/board/Qna/QnaList.css">
    <link rel="stylesheet" href="../../../static/css/common/font.css">
    <link rel="stylesheet" href="../../../static/css/common/main.css">
</head>

<body>

  <header class="hd">

  <div class="hd-in">
    <!-- 왼쪽 영역 -->
    <div class="hd-l">
      <!-- 메뉴 버튼 -->
      <button class="menu-btn" id="menuBtn" aria-label="menu">
        <img src="../../../static/images/common/menu.svg" alt="menu" />
      </button>

      <!-- 사이드바!!! -->
      <aside class="sidebar" id="sidebar">
        <div class="sidebar-header">
          <img src="../../../static/images/common/devlog.svg" alt="logo" class="sidebar-logo" />
          <span class="sidebar-title">DevLog</span>
        </div>

        <nav class="sidebar-menu">
          <ul>
            <li><img src="../../../static/images/common/home.svg" alt="home" /> Home</li>
            <li><img src="../../../static/images/common/dashboard.svg" alt="dashboard" /> Dashboard</li>

            <h4>Community</h4>
            <li><img src="../../../static/images/common/blog.svg" alt="blog" /> 블로그</li>
            <li><img src="../../../static/images/common/board.svg" alt="board" /> 자유게시판</li>
            <li><img src="../../../static/images/common/news.svg" alt="news" /> 지식 뉴스</li>
            <li><img src="../../../static/images/common/qa.svg" alt="qa" /> Q&A</li>
            <li><img src="../../../static/images/common/job.svg" alt="job" /> 채용 정보</li>

            <h4>Recommend</h4>
            <li><img src="../../../static/images/common/cafe.svg" alt="cafe" /> 주변 카페</li>
            <li><img src="../../../static/images/common/book.svg" alt="book" /> 관련 서적</li>

            <hr />

            <li><img src="../../../static/images/common/mode.svg" alt="mode" /> Mode</li>
            <li><img src="../../../static/images/common/settings.svg" alt="settings" /> Settings</li>
            <li><img src="../../../static/images/common/logout.svg" alt="logout" /> Logout</li>
          </ul>
        </nav>
      </aside>

      <!-- 사이드바 나타났을 때 배경 회색으로 만들기 -->
      <div class="overlay" id="overlay"></div>

      <!-- 로고 -->
      <div class="logo">
        <img src="../../../static/images/common/devlog.svg" alt="logo" class="logo-ico" />
        <div class="logo-text">
          <span class="logo-sub">상상하는 모든 것을 기록하는 공간</span>
          <span class="logo-t">DevLog</span>
        </div>
      </div>
    </div>

    <!-- 오른쪽 영역 -->
    <div class="hd-r">
      <!-- 검색창 -->
      <div class="search">
        <input type="text" placeholder="여기에 검색어를 입력하세요." />
        <button aria-label="search">
          <img src="../../../static/images/common/search.svg" alt="search" />
        </button>
      </div>

      <!-- 알림 -->
      <button class="btn-ico" aria-label="notification">
        <img src="../../../static/images/common/notifications.svg" alt="notification" />
      </button>

      <!-- 프로필 -->
      <div class="profile" id="profile">
        <img src="../../../static/images/common/d1.png" alt="profile" />
        <span>My</span>

        <!-- 드롭다운 메뉴 -->
        <ul class="dropdown" id="dropdown">
          <li>My Dev</li>
          <li>Coffee Beans</li>
          <li>DevTalk</li>
          <li>Logout</li>
        </ul>
      </div>
    </div>
  </div>
</header>

<script>
  const profile = document.getElementById('profile');
  const menuBtn = document.getElementById('menuBtn');
  const sidebar = document.getElementById('sidebar');
  const overlay = document.getElementById('overlay');

  profile.addEventListener('click', () => {
    profile.classList.toggle('active');
  });

  window.addEventListener('click', (e) => {
    if (!profile.contains(e.target)) {
      profile.classList.remove('active');
    }
  });

  menuBtn.addEventListener('click', () => {
    sidebar.classList.toggle('active');
    overlay.classList.toggle('active');
  });

  overlay.addEventListener('click', () => {
    sidebar.classList.remove('active');
    overlay.classList.remove('active');
  });
</script>


    <!-- 타임리프 변수 선언 -> main 태그 내부에서 사용 가능 -->
    <main>

        <section class="board-list">

            

             
            <div class="table-wrap">

              
              
             <br><br>
            <table class="table">    
              
              <tr>
                <td>

                    <table>
                    <tr>
                      <td>
                       <h1 class="board-name">Q&A 게시판</h1>


                      </td>
                    
                       <td>
                      <input type="search" name="q" placeholder="Q&A검색어를 입력하세요" class="search-box">
                      <button type="submit" class="search-btn">검색</button>
                      </td>

                       <td>
                         <img src="../../../static/images/board/qna/write.png" width="80">

                      </td>
                  
                    </tr>

                    </table>

                        <br><br>
              </td>
              </tr>


               <tr>
               <td>

                   <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat1.jpg"></td>
                      <td class="col-writer">작성자 : 기록하는 개발자</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:35</td>
                      <td class="col-comment">댓글:2</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">애드센스 수익이 어떻게 되나요?</td></tr>
                     <tr><td colspan="5" class="col-content">
                                바이브 코딩을 시작한지 72일이 되었습니다.<br>
                                  내일까지 바이브 코딩을 하고 이제 바이브 코딩 생활을 마치고 인간 코딩 
                                  생활로 돌아가기 전에 되돌아 보는 글을 남겨봅니다.<br>


                                  얼마나 썼나<br>
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다.<br>
 loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한<br>
 프로젝트는 메신저인 '친구친구'입니다. 
                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

               <tr>
               <td>

                    <div class="div-qna-table">

                    <table class="qna-table">
                    <tr>
                      <td rowspan="3" class="col-img"><img src="../../../static/images/board/qna/cat2.jpg"></td>
                      <td class="col-writer">작성자 : 파이썬러</td>
                      <td class="col-date">2025/12/15</td>
                      <td class="col-spacer"></td>
                      <td class="col-viewcount">조회수:46</td>
                      <td class="col-comment">댓글:3</td>
                    </tr>
               
                     <tr><td colspan="5" class="col-title">스프링부트 문의</td></tr>

                      <tr><td colspan="5" class="col-content">
                             
얼마나 썼나
지금까지 바이브 코딩으로 작성해서 누군가 쓰고 있는 프로젝트는 모두 4개입니다. <br>
loc로 그냥 세어 봤을 때 코드 줄 수는 
84152 + 35087 + 1892 + 4320 = 125451 입니다. 앞에 있는 가장 많은 줄을 작성한 프로젝트는 메신저인 '친구친구'입니다. 

<br>

Flutter와 macOS를 위한 Swift, Windows를 위한 C# 코드들이 있어서 크기가 큽니다. 기능도 많고 가장 많은 시간 신경을 쓴
 프로젝트입니다. 다음은 vibetable이라는 




                     </td></tr>
                  </table>

                  </div>


              </td>
              </tr>

           

             

               


            

            </table>


             <div id="pagination">
              <!--  페이지네이션 -->

               Prev 1 2 3 4 5 6 7 8 9 10 Next

            </div>



            </div>


           



          </section>


    </main>
    
 
    <!-- ===== Footer ===== -->
    <footer class="ft">
      <div class="ft-in">
        <!-- 상단 로고/소개 -->
        <div class="ft-top">
          <div class="ft-logo">
            <img src="../../../static/images/common/devlog.svg" alt="DevLog Logo" class="ft-logo-img" />
            <p class="ft-desc">
              개발자의 감성과 지식을 잇는 새로운 블로그 커뮤니티<br />
              <strong>Devlog</strong> 가 만들어갑니다.
            </p>
          </div>
  
          <ul class="ft-menu">
            <li><a href="#">SHOP</a></li>
            <li><a href="#">REVIEW</a></li>
            <li><a href="#">COMMUNITY</a></li>
            <li><a href="#">ABOUT</a></li>
          </ul>
        </div>
  
        <!-- 하단 정보 -->
        <div class="ft-bottom">
          <p>
            상호 : (주)디블로그 | 대표 팀 : ZeroBoost<br />
            사업자등록번호 : 000-00-00000 | 문의처 : dev-logs2@gmail.com<br />
            주소 : 서울특별시 용산구 우정국로21 9층 903호
          </p>
  
          <p class="ft-links">
            <a href="#">이용약관</a> |
            <a href="#">개인정보처리방침</a>
          </p>
  
          <p class="ft-copy">Copyright © 제로부스트</p>
        </div>
      </div>
    </footer>

</body>

</html>
