* { 
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* div, main, section, header, footer, article, nav, aside, form
{ border : 1px solid black; }  */
/* 다 만들고 삭제 */


main{
    /* width: 1140px; */
    width: 100%;
    margin : auto;
    min-height: 500px;
}


/* content */
.content{
    min-height: 800px;
    margin-top: 150px;
    
    display: flex;  
    flex-direction: row;
    justify-content: center; /* 가로 중앙 */
    /* flex-start : flex요소에만 사용 가능한 정렬 방식 */
    align-items: stretch; /* 세로는 위에서 시작 */
}

.content-1{ 
    flex-basis: 70%;
    padding : 20px;
}

.content-1 > *{
    margin-bottom: 20px;
}

.content-1 > pre{
    font-size: 1rem;
    font-family: '고딕';
}


.select-wrapper{
    width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

/* header와의 간격벌리기 */
.top-space-bw-header{
    /*
    margin-bottom: 200px;
    */

    height: 40px;
    margin-bottom: 40px;
}















